@using System.Globalization
@using HelpDown
@{
    ViewData["Title"] = "Home Page";
}

<style>
    img{
        width:500px
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="text-align: left">

        @{
            if (Utils.HelpExist(ViewContext, CultureInfo.CurrentCulture))
            {
                @Html.Raw(Utils.GenerateHtml(ViewContext, CultureInfo.CurrentCulture))
            }
        }
    </div>

</div>